

<footer>            
    
  <!-- Scripts -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/appclient.js"></script>
  

<!-- copyright -->
<p id="copyright">&copy;&nbsp; Md Musa Khan, College ID: 301272273. </p>
</footer>

</body>
</html>