<%- include('partials/header.ejs') %> 

    <h1 id="textLarge">Md Musa Khan</h1>

<img class="center" src="/images/Musa.jpg" width="300" height="300" alt="Musa">
    
<div id="aboutText">
    Hello readers! I am Md Musa Khan, I am a student of Software Engineering Technology(Fast Track) at Centennial College, dedicated to building and optimizing user-focused software with various business objectives. Judicious and creative when crafting effective websites, apps, and platforms. Technically proficient, analytical problem solver and team player with calm and focused demeanour.
      I gained some technical knowledge in few languages such as HTML5, CSS3, JavaScript, Express.js C#,Java
      Linux/Unix and MySQL. I hope to excel in this course and in my future as well. To know me more, please check out
      my resume attached below.
</div>

<button type="button">
    <a id="aboutText" class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
        <i class="fas fa-download me-2 "></i>
        Download My Resume
    </a>
</button>
<br>
<br>
<br>

<%- include('partials/footer.ejs') %>
