<%- include('partials/header') %>  
<h1 id="textLarge">Welcome to Md Musa Khan's portfolio page</h1>     

  
<!-- Mission statement -->
<h2 id="textLarge"> My Mission</h2>
<div id="aboutText"> 
     I am a student in Software Engineering Technology(Fast Track) 
    at Centennial College, who is passionate about web development
    and wants to pursue a career as a successful software engineer.
    <a href="/about">About me</a>
</div>
  
<br>


<%- include('partials/footer') %>
