<%- include('partials/header.ejs') %>
  
<h1 id="textLarge"><%= title %></h1>

<div id="Projects">
    <h3 style="color:white;" class="center"> Thumbs Up! Electronic Voting (Software Requirements Specification)</h3> 
    <p style="color:white;" class="center">This app Help citizens stay up to date with the candidate information and allow them to vote through the app as well.
      This will help citizens who are busy with night shifts and may not have time to research candidates, immigrants who have gotten their citizenship, and citizens who are living away from home.</p>
    <p style="color:white;" class="center">Technical: Microsoft Teams, SharePoint, GoogleDoc, PowerPoint, Visio.</p>
    <img class="center" src="/images/voting.jpg" width=300 height=200 alt="VotingApp">
    <br><br>
</div>

<div id="Projects">
    <h3 style="color:white;" class="center"> AI powered Tutoring App</h3>
    <p style="color:white;" class="center">It enables people to communicate with broader and more diverse communities,
      as well as provide a better understanding of different cultures. It also opens more career opportunities.</p>
    <p style="color:white;" class="center">Technical: Java, JavaScript, Visio, SharePoint</p>
    <img class="center" src="/images/tutorapp.jpg" width=300 height=200 alt="tutorapp">
    <br><br>
</div>

<div id="projects">
    <h3 style="color:white;">Bug smasher game</h3>
    <p style="color:white;">A fun game of smashing bug.</p>
    <p style="color:white;">Technical: HTML/CSS, JS</p>
    <a href="http://studentweb.cencol.ca/ayasin6/BugSmasher%20Game/index.html">Bug Smasher</a>
    <img class="center" src="/images/ladybug.jpg" width=200 height=200 alt="Bug">
    <br><br>
</div>

<%- include('partials/footer.ejs') %>
