<%- include('partials/header.ejs') %>

<h1 id="textLarge"><%= title %></h1>

<div id="aboutText">
    <p> Here are a few of the services I can provide to you!</p>
    <div class="tableCenter">
        <i id="languageLogo" class="devicon-csharp-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-python-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-javascript-plain colored"></i>
        <i id="languageLogo" class="devicon-html5-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-css3-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-mysql-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-java-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-nodejs-plain colored"></i>
    </div>
</div>

<br>
<br>
<%-include('partials/footer.ejs')%>
